body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
}
.header{
    font-weight: bold;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:  25px;
    font-family: 'DotGothic16', sans-serif;
    gap: 10px;
}
.main{
    display: flex;
    gap:10px;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}
.functionalities{
    height: 30vw;
    width: 20vw;
    min-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'DotGothic16', sans-serif;
    box-shadow: 5px 10px 18px #888888;
}
img{
    height: 100px;
    width: 100px;
}
.color-picker {
    border-radius: 50%;
    padding: 0; 
    border: none;
    background: none;
    height: 50px;
    width: 200px;
  }
.color-mode,.rainbow-mode,.darken-mode,.lighten-mode,.eraser,.clear{
    height: 50px;
    width: 200px;
    margin: 5px;
    color: black;
    border-color:3px solid black;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
}
button:hover{
    background-color: whitesmoke;
}
.container{
    height: 35vw;
    width: 35vw;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: flex-start;
    box-shadow: 5px 10px 18px #888888;
}
#vol{
    width: 200px;
    background-color: black;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 20px;
    font-size: 18px;
    overflow: hidden;
  }